[submodule "src/third_party/hidapi"]
	path = src/third_party/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "third_party/hidapi"]
	path = third_party/hidapi
	url = https://github.com/libusb/hidapi.git
